.product__dropdown
    table.product-list
        thead
        tfoot
        tbody
            tr.product-list__row
                td.product-list__icon
                    svg.product-list__icon-img(viewBox="0 0 44 39.212")
                        use(xlink:href=`./assets/img/sprite.svg#beef`)
                td.product-list__title Говядина
                td.product-list__weight 300 г
            tr.product-list__row
                td.product-list__icon
                    svg.product-list__icon-img(viewBox="0 0 48 30.317")
                        use(xlink:href=`./assets/img/sprite.svg#buns`)
                td.product-list__title Булочки
                td.product-list__weight 100 г
            tr.product-list__row
                td.product-list__icon
                    svg.product-list__icon-img(viewBox="0 0 38 38.638")
                        use(xlink:href=`./assets/img/sprite.svg#salad`)
                td.product-list__title Зелень
                td.product-list__weight 70 г
            tr.product-list__row
                td.product-list__icon
                    svg.product-list__icon-img(viewBox="0 0 40.189 43.416")
                        use(xlink:href=`./assets/img/sprite.svg#sauce`)
                td.product-list__title Соус
                td.product-list__weight 150 г
            tr.product-list__row
                td.product-list__icon
                    svg.product-list__icon-img(viewBox="0 0 42 37.754")
                        use(xlink:href=`./assets/img/sprite.svg#cucumber`)
                td.product-list__title Овощи
                td.product-list__weight 200 г
            tr.product-list__row
                td.product-list__icon
                    svg.product-list__icon-img(viewBox="0 0 38.126 34.138")
                        use(xlink:href=`./assets/img/sprite.svg#cheese`)
                td.product-list__title Сыр
                td.product-list__weight 80 г
