ul.reviews__list
    -
        reviewItems=[
        {
        pic:"url('./assets/img/bg/review_01.jpg')",
        name: "Константин спилберг",
        text:"Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... " +
        "Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным." +
        "Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... " +
        "Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным."
        },
        {
        pic:"url('./assets/img/bg/review_02.jpg')",
        name: "Константин спилберг",
        text:"Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... " +
        "Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным." +
        "Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... " +
        "Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным."
        },
        {
        pic:"url('./assets/img/bg/review_03.jpg')",
        name: "Константин спилберг",
        text:"Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... " +
        "Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным."
        },
        {
        pic:"url('./assets/img/bg/review_04.jpg')",
        name: "Константин спилберг",
        text:"Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... " +
        "Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным."
        },
        {
        pic:"url('./assets/img/bg/review_05.jpg')",
        name: "Константин спилберг",
        text:"Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... " +
        "Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным."
        },
        {
        pic:"url('./assets/img/bg/review_06.jpg')",
        name: "Константин спилберг",
        text:"Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... " +
        "Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным."
        },
        {
        pic:"url('./assets/img/bg/review_07.jpg')",
        name: "Константин спилберг",
        text:"Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... " +
        "Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным."
        },
        {
        pic:"url('./assets/img/bg/review_08.jpg')",
        name: "Константин спилберг",
        text:"Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... " +
        "Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным."
        }
        ]
    each reviewItem in reviewItems
        li.reviews__item
            .review
                .review__foto(style="background-image:"+reviewItem.pic)
                .review__hover
                        .review__hover-title=reviewItem.name
                        .review__hover-text=reviewItem.text
                        a.btn.btn-review(href='#popupReview' title='Подробнее')
                            .btn__title.btn-review__title Подробнее

